<div class="row container_header">

    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        <div class="header_log">
            <i class="material-icons">place</i>
        </div>
        <h3>控制台</h3>
    </div>

    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
        <div class="alert alert-success alert-dismissible header_tips">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Success!</strong> Indicates a successful or positive action.
        </div>
    </div>

</div>