<div class="sidebar" data-color="green" data-background-color="white">
    <!--using: data-color="purple | azure | green | orange | danger"-->
    <div class="logo sidebar_log">
        <a href="#" class="simple-text logo-normal">钢铁侠集控</a>
    </div>
    <div class="sidebar-wrapper" id="sidebar">
        <ul class="nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">
                    <i class="material-icons">dashboard</i>
                    <p>控制台</p>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="material-icons">desktop_windows</i>
                    <p>服务器管理</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="#">
                    <i class="material-icons">language</i>
                    <p>精品站管理</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="#">
                    <i class="material-icons">verified_user</i>
                    <p>权限管理</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="#">
                    <i class="material-icons">widgets</i>
                    <p>模板管理</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="#">
                    <i class="material-icons">settings</i>
                    <p>资源发布设置</p>
                </a>
            </li>
        </ul>
    </div>
</div>