/*自定义样式*/
body {
    overflow: hidden;
}
.card-body {
    overflow-y: auto;
    height: calc(100vh - 150px);
}
.main-panel > .content {
    margin-top: 0px;
    padding: 0px;
}
.sidebar_log {
    background: url(../images/log.png) no-repeat 32px;
}
