.sidebar .nav svg {
	font-size: 24px;
	float: left;
	margin-right: 15px;
	line-height: 30px;
	width: 30px;
	text-align: center;
	color: #a9afbb;
	margin-top: 3px;
}
.sidebar .logo {
	padding: 0px;
}
.sidebar .logo .logotext {
	margin-left: 20px;
	text-transform: uppercase;
	padding: 5px 0;
	display: inline-block;
	font-size: 18px;
	color: #3c4858;
	white-space: nowrap;
	font-weight: 400;
	line-height: 30px;
	overflow: hidden;
	text-align: left;
	display: block;
}
.sidebar[data-color='green'] li.active > a > svg {
	color: #fff;
}
.main-panel > .content {
	margin-top: 0px;
}
.card {
	margin-top: 0px;
	height: 85vh;
}
.nav-tabs .nav-item .nav-link.active > .top_header_c {
	display: inline;
}
.top_header_c {
	display: none;
}
.top_header_c:hover {
	color: #dc3545;
}
